<div id="<%= dom_id interview %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Job application:</strong>
    <%= interview.job_application_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled date:</strong>
    <%= interview.scheduled_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Result:</strong>
    <%= interview.result %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mode:</strong>
    <%= interview.mode %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Interview type:</strong>
    <%= interview.interview_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= interview.notes %>
  </p>
</div>
