<div id="<%= dom_id cover_letter %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Hunter:</strong>
    <%= cover_letter.hunter_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subject:</strong>
    <%= cover_letter.subject %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Latex source:</strong>
    <%= cover_letter.latex_source %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pdf path:</strong>
    <%= cover_letter.pdf_path %>
  </p>
</div>
