<div id="<%= dom_id job_application %>" class="space-y-4">
  <dl class="space-y-4">
    <!--
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Hunter</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%#= job_application.hunter_id %></dd>
    </div>
    -->
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Job Post</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= JobPost.find_by(id=job_application.job_post_id.to_s).title %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Resume</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= Resume.find_by(id=job_application.resume_id.to_s).title %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Cover Letter</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= CoverLetter.find_by(id=job_application.cover_letter_id.to_s).subject %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Status</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= job_application.status %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Phase</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= job_application.phase %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Mail</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= job_application.mail %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Applied At</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100"><%= job_application.applied_at %></dd>
    </div>
    <div>
      <dt class="font-bold text-gray-700 dark:text-gray-200">Feedback</dt>
      <dd class="mt-1 text-gray-900 dark:text-gray-100 whitespace-pre-wrap"><%=job_application.feedback.empty? ? "None" : job_application.feedback %></dd>
    </div>
  </dl>
</div>