<div id="<%= dom_id job_application %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Hunter:</strong>
    <%= job_application.hunter_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Job offer:</strong>
    <%= job_application.job_post_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Resume:</strong>
    <%= job_application.resume_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cover letter:</strong>
    <%= job_application.cover_letter_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= job_application.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phase:</strong>
    <%= job_application.phase %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= job_application.mail %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Applied at:</strong>
    <%= job_application.applied_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Feedback:</strong>
    <%= job_application.feedback %>
  </p>
</div>
