<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= company.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Industry:</strong>
    <%= company.industry %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= company.location %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Github:</strong>
    <%= company.github %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= company.website %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Job search website:</strong>
    <%= company.job_search_website %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= company.description %>
  </p>
</div>
