<div id="<%= dom_id job_post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job_post.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job_post.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Skills required:</strong>
    <%= job_post.skills_required %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Experience:</strong>
    <%= job_post.experience %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= job_post.location %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Relocation:</strong>
    <%= job_post.relocation %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Apply from anywhere:</strong>
    <%= job_post.apply_from_anywhere %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Remote:</strong>
    <%= job_post.remote %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">English level:</strong>
    <%= job_post.english_level %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Japanese level:</strong>
    <%= job_post.japanese_level %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= job_post.salary %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Employment type:</strong>
    <%= job_post.employment_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Posted at:</strong>
    <%= job_post.posted_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Closing date:</strong>
    <%= job_post.closing_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= job_post.company_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= job_post.role_id %>
  </p>
</div>
