<div id="<%= dom_id job_offer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Hunter:</strong>
    <%= job_offer.hunter_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Job post:</strong>
    <%= job_offer.job_post_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= job_offer.company_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= job_offer.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= job_offer.salary %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= job_offer.start_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Offer date:</strong>
    <%= job_offer.offer_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= job_offer.message %>
  </p>
</div>
