<div id="<%= dom_id job_offer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job_offer.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job_offer.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Skills required:</strong>
    <%= job_offer.skills_required %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Experience:</strong>
    <%= job_offer.experience %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= job_offer.location %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Relocation:</strong>
    <%= job_offer.relocation %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Apply from anywhere:</strong>
    <%= job_offer.apply_from_anywhere %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Remote:</strong>
    <%= job_offer.remote %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">English level:</strong>
    <%= job_offer.english_level %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Japanese level:</strong>
    <%= job_offer.japanese_level %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= job_offer.salary %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Employment type:</strong>
    <%= job_offer.employment_type %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Posted at:</strong>
    <%= job_offer.posted_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Closing date:</strong>
    <%= job_offer.closing_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Company:</strong>
    <%= job_offer.company_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= job_offer.role_id %>
  </p>
</div>
