<div id="<%= dom_id resume %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Hunter:</strong>
    <%= resume.hunter_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= resume.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Latex source:</strong>
    <%= resume.latex_source %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pdf path:</strong>
    <%= resume.pdf_path %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Resume type:</strong>
    <%= resume.resume_type %>
  </p>
</div>
